In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
IN_file = "/Users/mquinton/Desktop/IN_COVID.csv"
IN_df = pd.read_csv(IN_file)
IN_df.head()

          Date  New Cases  7-Day Moving Avg
0   Dec 1 2020       5396              5405
1  Nov 30 2020       5665              5437
2  Nov 29 2020       4304              5422
3  Nov 28 2020       4471              5689
4  Nov 27 2020       5643              6032

- I chose this dataset from the CDC by selecting Indiana and downloading the csv file that shows new cases compared to 7 day moving average by date. We wanted to compare this table to our Google mobility file to compare cases and where people were going.
- Check date format
- Remove spaces from columns

In [7]:
IN_df.set_index('Date')

             New Cases  7-Day Moving Avg
Date
Dec 1 2020        5396              5405
Nov 30 2020       5665              5437
Nov 29 2020       4304              5422
Nov 28 2020       4471              5689
Nov 27 2020       5643              6032
...                ...               ...
Jan 26 2020          0                 0
Jan 25 2020          0                 0
Jan 24 2020          0                 0
Jan 23 2020          0                 0
Jan 22 2020          0                 0

[315 rows x 2 columns]