In [20]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

In [21]:
cases_file = "/Users/mquinton/Desktop/ETL-Project-Group5/Resources/cases.csv"
cases_df = pd.read_csv(cases_file)
cases_df.head()

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
0,Alabama,2020-01-22,4887871.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,2020-01-23,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
2,Alabama,2020-01-24,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
3,Alabama,2020-01-25,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0
4,Alabama,2020-01-26,4887871.0,0,0.0,0,0.0,0.0,NaN,0.0,NaN,0.0,0.0

- We chose this dataset to work further with by county data in Indiana

In [23]:
# New dataframe with only IN data
IN_cases_df = cases_df.loc[cases_df['state'] == 'Indiana']
IN_cases_df

,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5088,Indiana,2020-01-22,6691878.0,0,0.00,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
5089,Indiana,2020-01-23,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
5090,Indiana,2020-01-24,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
5091,Indiana,2020-01-25,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
5092,Indiana,2020-01-26,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5401,Indiana,2020-11-30,6691878.0,338977,5065.50,5723,85.52,5665.0,5437.71,38.0,55.86,0.57,84.65
5402,Indiana,2020-12-01,6691878.0,344373,5146.13,5864,87.63,5396.0,5405.00,141.0,61.29,2.11,80.64
5403,Indiana,2020-12-02,6691878.0,350970,5244.72,5973,89.26,6597.0,5492.71,109.0,67.86,1.63,98.58
5404,Indiana,2020-12-03,6691878.0,359430,5371.14,6033,90.15,8460.0,5790.86,60.0,67.43,0.90,126.42
5405,Indiana,2020-12-04,6691878.0,367329,5489.18,6122,91.48,7899.0,6113.14,89.0,75.43,1.33,118.04

In [25]:
IN_cases_df = IN_county_df.rename(columns={'date': 'Date',
                          'total_population': 'Population',
                          'cumulative_cases': 'total_cases',
                          'cumulative_cases_per_100_000': 'total_cases_per_100000',
                          'cumulative_deaths': 'total_deaths',
                          'cumulative_deaths_per_100_000': 'total_cases_per_100000'
                         })
IN_cases_df

,State,Date,Population,total_cases,total_cases_per_100000,total_deaths,total_cases_per_100000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
5088,Indiana,2020-01-22,6691878.0,0,0.00,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
5089,Indiana,2020-01-23,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
5090,Indiana,2020-01-24,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
5091,Indiana,2020-01-25,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
5092,Indiana,2020-01-26,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5401,Indiana,2020-11-30,6691878.0,338977,5065.50,5723,85.52,5665.0,5437.71,38.0,55.86,0.57,84.65
5402,Indiana,2020-12-01,6691878.0,344373,5146.13,5864,87.63,5396.0,5405.00,141.0,61.29,2.11,80.64
5403,Indiana,2020-12-02,6691878.0,350970,5244.72,5973,89.26,6597.0,5492.71,109.0,67.86,1.63,98.58
5404,Indiana,2020-12-03,6691878.0,359430,5371.14,6033,90.15,8460.0,5790.86,60.0,67.43,0.90,126.42
5405,Indiana,2020-12-04,6691878.0,367329,5489.18,6122,91.48,7899.0,6113.14,89.0,75.43,1.33,118.04

In [26]:
# Drop columns we do not need
IN_cases_df.drop(columns=['new_cases_7_day_rolling_avg', 'new_deaths_7_day_rolling_avg'])

,State,Date,Population,total_cases,total_cases_per_100000,total_deaths,total_cases_per_100000,new_cases,new_deaths,new_deaths_per_100_000,new_cases_per_100_000
5088,Indiana,2020-01-22,6691878.0,0,0.00,0,0.00,NaN,NaN,NaN,NaN
5089,Indiana,2020-01-23,6691878.0,0,0.00,0,0.00,0.0,0.0,0.00,0.00
5090,Indiana,2020-01-24,6691878.0,0,0.00,0,0.00,0.0,0.0,0.00,0.00
5091,Indiana,2020-01-25,6691878.0,0,0.00,0,0.00,0.0,0.0,0.00,0.00
5092,Indiana,2020-01-26,6691878.0,0,0.00,0,0.00,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
5401,Indiana,2020-11-30,6691878.0,338977,5065.50,5723,85.52,5665.0,38.0,0.57,84.65
5402,Indiana,2020-12-01,6691878.0,344373,5146.13,5864,87.63,5396.0,141.0,2.11,80.64
5403,Indiana,2020-12-02,6691878.0,350970,5244.72,5973,89.26,6597.0,109.0,1.63,98.58
5404,Indiana,2020-12-03,6691878.0,359430,5371.14,6033,90.15,8460.0,60.0,0.90,126.42
5405,Indiana,2020-12-04,6691878.0,367329,5489.18,6122,91.48,7899.0,89.0,1.33,118.04

In [27]:
IN_cases_df['Date'] = pd.to_datetime(IN_cases_df['Date'], format='%Y%m%d', infer_datetime_format=True)

In [28]:
IN_cases_df.set_index('Date')

,State,Population,total_cases,total_cases_per_100000,total_deaths,total_cases_per_100000,new_cases,new_cases_7_day_rolling_avg,new_deaths,new_deaths_7_day_rolling_avg,new_deaths_per_100_000,new_cases_per_100_000
Date,,,,,,,,,,,,
2020-01-22,Indiana,6691878.0,0,0.00,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-23,Indiana,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
2020-01-24,Indiana,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
2020-01-25,Indiana,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
2020-01-26,Indiana,6691878.0,0,0.00,0,0.00,0.0,NaN,0.0,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-30,Indiana,6691878.0,338977,5065.50,5723,85.52,5665.0,5437.71,38.0,55.86,0.57,84.65
2020-12-01,Indiana,6691878.0,344373,5146.13,5864,87.63,5396.0,5405.00,141.0,61.29,2.11,80.64
2020-12-02,Indiana,6691878.0,350970,5244.72,5973,89.26,6597.0,5492.71,109.0,67.86,1.63,98.58
2020-12-03,Indiana,6691878.0,359430,5371.14,6033,90.15,8460.0,5790.86,60.0,67.43,0.90,126.42
2020-12-04,Indiana,6691878.0,367329,5489.18,6122,91.48,7899.0,6113.14,89.0,75.43,1.33,118.04