In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

In [2]:
county_file = "/Users/mquinton/Desktop/ETL-Project-Group5/Resources/county_level_cases.csv"
county_df = pd.read_csv(county_file)
county_df.head()

,last_update,location_type,state,county_name,county_name_long,fips_code,lat,lon,NCHS_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
0,2020-12-05 14:28:06 UTC,county,Alabama,Autauga,"Autauga, Alabama, US",1001.0,32.539527,-86.644082,Medium metro,55200.0,2979,5396.74,42,76.09
1,2020-12-05 14:28:06 UTC,county,Alabama,Baldwin,"Baldwin, Alabama, US",1003.0,30.727750,-87.722071,Small metro,208107.0,9626,4625.51,138,66.31
2,2020-12-05 14:28:06 UTC,county,Alabama,Barbour,"Barbour, Alabama, US",1005.0,31.868263,-85.387129,Non-core,25782.0,1219,4728.10,29,112.48
3,2020-12-05 14:28:06 UTC,county,Alabama,Bibb,"Bibb, Alabama, US",1007.0,32.996421,-87.125115,Large fringe metro,22527.0,1283,5695.39,38,168.69
4,2020-12-05 14:28:06 UTC,county,Alabama,Blount,"Blount, Alabama, US",1009.0,33.982109,-86.567906,Large fringe metro,57645.0,3281,5691.73,46,79.80

In [5]:
# Drop columns we do not need
county_df.drop(columns=['location_type', 'county_name_long', 'fips_code', 'lat', 'lon', 'NCHS_urbanization', 'confirmed_per_100000', 'deaths_per_100000'])

,last_update,state,county_name,total_population,confirmed,deaths
0,2020-12-05 14:28:06 UTC,Alabama,Autauga,55200.0,2979,42
1,2020-12-05 14:28:06 UTC,Alabama,Baldwin,208107.0,9626,138
2,2020-12-05 14:28:06 UTC,Alabama,Barbour,25782.0,1219,29
3,2020-12-05 14:28:06 UTC,Alabama,Bibb,22527.0,1283,38
4,2020-12-05 14:28:06 UTC,Alabama,Blount,57645.0,3281,46
...,...,...,...,...,...,...
3263,2020-12-05 14:28:06 UTC,Utah,Central Utah,NaN,3544,19
3264,2020-12-05 14:28:06 UTC,Utah,Southeast Utah,NaN,1516,9
3265,2020-12-05 14:28:06 UTC,Utah,Southwest Utah,NaN,13211,95
3266,2020-12-05 14:28:06 UTC,Utah,TriCounty,NaN,1652,8
3267,2020-12-05 14:28:06 UTC,Utah,Weber-Morgan,NaN,14228,64

In [9]:
# New dataframe with only IN data
IN_county_df = county_df.loc[county_df['state'] == 'Indiana']
IN_county_df

,last_update,location_type,state,county_name,county_name_long,fips_code,lat,lon,NCHS_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
695,2020-12-05 14:28:06 UTC,county,Indiana,Adams,"Adams, Indiana, US",18001.0,40.745765,-84.936714,Micropolitan,35195.0,1959,5566.13,24,68.19
696,2020-12-05 14:28:06 UTC,county,Indiana,Allen,"Allen, Indiana, US",18003.0,41.091943,-85.068006,Medium metro,370016.0,21054,5690.02,342,92.43
697,2020-12-05 14:28:06 UTC,county,Indiana,Bartholomew,"Bartholomew, Indiana, US",18005.0,39.207449,-85.895582,Small metro,81893.0,3915,4780.63,66,80.59
698,2020-12-05 14:28:06 UTC,county,Indiana,Benton,"Benton, Indiana, US",18007.0,40.606269,-87.310940,Small metro,8667.0,465,5365.18,3,34.61
699,2020-12-05 14:28:06 UTC,county,Indiana,Blackford,"Blackford, Indiana, US",18009.0,40.473882,-85.324997,Non-core,12129.0,673,5548.68,17,140.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,2020-12-05 14:28:06 UTC,county,Indiana,Wayne,"Wayne, Indiana, US",18177.0,39.863344,-85.010450,Micropolitan,66613.0,3702,5557.47,96,144.12
784,2020-12-05 14:28:06 UTC,county,Indiana,Wells,"Wells, Indiana, US",18179.0,40.729342,-85.221330,Medium metro,27947.0,1471,5263.53,36,128.82
785,2020-12-05 14:28:06 UTC,county,Indiana,White,"White, Indiana, US",18181.0,40.749112,-86.864920,Non-core,24217.0,1562,6450.01,24,99.10
786,2020-12-05 14:28:06 UTC,county,Indiana,Whitley,"Whitley, Indiana, US",18183.0,41.138638,-85.507912,Medium metro,33649.0,1661,4936.25,17,50.52
3221,2020-12-05 14:28:06 UTC,count_unassigned_to_location,Indiana,Unassigned,"Unassigned, Indiana, US",90018.0,NaN,NaN,NaN,NaN,0,NaN,290,NaN

In [15]:
IN_county_df_update = IN_county_df.drop(columns=['location_type', 'county_name_long', 'fips_code', 'lat', 'lon', 'NCHS_urbanization', 'confirmed_per_100000', 'deaths_per_100000'])

In [16]:
IN_county_df_update

,last_update,state,county_name,total_population,confirmed,deaths
695,2020-12-05 14:28:06 UTC,Indiana,Adams,35195.0,1959,24
696,2020-12-05 14:28:06 UTC,Indiana,Allen,370016.0,21054,342
697,2020-12-05 14:28:06 UTC,Indiana,Bartholomew,81893.0,3915,66
698,2020-12-05 14:28:06 UTC,Indiana,Benton,8667.0,465,3
699,2020-12-05 14:28:06 UTC,Indiana,Blackford,12129.0,673,17
...,...,...,...,...,...,...
783,2020-12-05 14:28:06 UTC,Indiana,Wayne,66613.0,3702,96
784,2020-12-05 14:28:06 UTC,Indiana,Wells,27947.0,1471,36
785,2020-12-05 14:28:06 UTC,Indiana,White,24217.0,1562,24
786,2020-12-05 14:28:06 UTC,Indiana,Whitley,33649.0,1661,17
3221,2020-12-05 14:28:06 UTC,Indiana,Unassigned,NaN,0,290

In [23]:
IN_county_df_update.rename(columns={'last_update': 'Date',
                          'state': 'State',
                          'county_name': 'County',
                          'total_population': 'Population',
                          'confirmed': 'Cases',
                          'deaths': 'Deaths'
                         })

                         Date    State       County  Population  Cases  Deaths
695   2020-12-05 14:28:06 UTC  Indiana        Adams     35195.0   1959      24
696   2020-12-05 14:28:06 UTC  Indiana        Allen    370016.0  21054     342
697   2020-12-05 14:28:06 UTC  Indiana  Bartholomew     81893.0   3915      66
698   2020-12-05 14:28:06 UTC  Indiana       Benton      8667.0    465       3
699   2020-12-05 14:28:06 UTC  Indiana    Blackford     12129.0    673      17
...                       ...      ...          ...         ...    ...     ...
783   2020-12-05 14:28:06 UTC  Indiana        Wayne     66613.0   3702      96
784   2020-12-05 14:28:06 UTC  Indiana        Wells     27947.0   1471      36
785   2020-12-05 14:28:06 UTC  Indiana        White     24217.0   1562      24
786   2020-12-05 14:28:06 UTC  Indiana      Whitley     33649.0   1661      17
3221  2020-12-05 14:28:06 UTC  Indiana   Unassigned         NaN      0     290

[93 rows x 6 columns]

In [24]:
IN_county_df_update

,last_update,state,county_name,total_population,confirmed,deaths
695,2020-12-05 14:28:06 UTC,Indiana,Adams,35195.0,1959,24
696,2020-12-05 14:28:06 UTC,Indiana,Allen,370016.0,21054,342
697,2020-12-05 14:28:06 UTC,Indiana,Bartholomew,81893.0,3915,66
698,2020-12-05 14:28:06 UTC,Indiana,Benton,8667.0,465,3
699,2020-12-05 14:28:06 UTC,Indiana,Blackford,12129.0,673,17
...,...,...,...,...,...,...
783,2020-12-05 14:28:06 UTC,Indiana,Wayne,66613.0,3702,96
784,2020-12-05 14:28:06 UTC,Indiana,Wells,27947.0,1471,36
785,2020-12-05 14:28:06 UTC,Indiana,White,24217.0,1562,24
786,2020-12-05 14:28:06 UTC,Indiana,Whitley,33649.0,1661,17
3221,2020-12-05 14:28:06 UTC,Indiana,Unassigned,NaN,0,290

In [25]:
IN_county_df_update.set_index('last_update')

,state,county_name,total_population,confirmed,deaths
last_update,,,,,
2020-12-05 14:28:06 UTC,Indiana,Adams,35195.0,1959,24
2020-12-05 14:28:06 UTC,Indiana,Allen,370016.0,21054,342
2020-12-05 14:28:06 UTC,Indiana,Bartholomew,81893.0,3915,66
2020-12-05 14:28:06 UTC,Indiana,Benton,8667.0,465,3
2020-12-05 14:28:06 UTC,Indiana,Blackford,12129.0,673,17
...,...,...,...,...,...
2020-12-05 14:28:06 UTC,Indiana,Wayne,66613.0,3702,96
2020-12-05 14:28:06 UTC,Indiana,Wells,27947.0,1471,36
2020-12-05 14:28:06 UTC,Indiana,White,24217.0,1562,24
2020-12-05 14:28:06 UTC,Indiana,Whitley,33649.0,1661,17
2020-12-05 14:28:06 UTC,Indiana,Unassigned,NaN,0,290